@model Client.Models.HomeViewModel.HomeViewModel
@{
    ViewData["Title"] = "All books";
}


@{
    if (TempData["CustomError"] != null)
    {
        <h2>@TempData["CustomError"]</h2>
    }
    else
    {
        <h2>All books</h2>
    }
    if (!Model.Shelves.Any())
    {
        <p>Shelves missing</p>
    }
}

<div class="row">
    <div class="col-lg-4">
        <table class="table" style="max-width:300px;" id="books">
            @for (var i = 0; i < Model.Shelves.Count; i++)
            {
                var books = Model.Shelves[i].Books.ToList();
                <thead>
                    <tr>
                        <th colspan="3">
                            @Html.DisplayFor(model => model.Shelves[i].Genre) <br />
                            @Html.DisplayFor(model => model.Shelves[i].Location)
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @for (var j = 0; j < books.Count; j++)
                    {
                        if (j == 0)
                        {
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => books[j].ISBN)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => books[j].Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => books[j].InShelf)
                                </th>
                            </tr>
}
                        <tr id="@books[j].Id">
                            <td>
                                @Html.DisplayFor(model => books[j].ISBN)
                            </td>
                            <td>
                                @Html.DisplayFor(model => books[j].Title)
                            </td>
                            @{ var cl = books[j].InShelf ? "" : "alert-danger";}
                            <td class="@cl">
                                @Html.DisplayFor(model => books[j].InShelfNotInShelf)
                            </td>
                        </tr> if (j == books.Count - 1)
                                {
                                    <tr><td colspan="3"></td></tr>}
                                }

                </tbody>      }
        </table>
    </div>
    <div class="col-lg-2">
        <h3>Show books with status:</h3>
        <input onclick="doFiltering()"  id="All"  type="radio" name="status" value="All"  checked="checked">All<br>
        <input onclick="doFiltering()" id="InShelf" type="radio" name="status" value="InShelf">Available<br>
        <input onclick="doFiltering()" id="NotInShelf" type="radio" name="status" value="NotInShelf">Not In Shelf<br>
        <br>
        <br>
        <button onclick="showModals()">Show message queues</button>
    </div>
    <div class="col-lg-4">
        <p class="alert-info">All books for all shelves are shown here. Status (In Shelf/Loaned To) randomly changes approximately every 10 seconds. A logged in user can manually change the status. To view and update books and shelves, create an account, log in and select the respective menu options. 
            <br/><br/>
            If you press F12 and select "Console" you can see when the status changes for each book using Javascript in the browser.</p>
    </div>
    <div class="col-lg-2">
    </div>
</div>
